* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 500px; /* Slightly wider container */
}

.search {
  margin-bottom: 20px;
  
}

.search-box {
  border: 0;
  outline: 0;
  background: #f5ebff;
  color: #555;
  padding: 1px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
}

.home{
  padding: 20px 55px; 
  
  border: none;
  border-radius: 50px;
  background-color: #20348b;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.weather-icon {
  max-width: 100px;
  margin: 10px auto;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin-top: 20px;
}

.temp {
  font-size: 2.5rem; /* Larger font size */
  font-weight: bold;
  margin-bottom: 15px; /* Slightly larger margin */
}

.humidity,
.wind,
.pressure,
.date,
.description {
  font-size: 1.4rem; /* Larger font size */
  margin: 8px; /* Slightly larger margin */
}

.city {
  font-size: 2rem; /* Larger font size */
  font-weight: bold;
  margin-bottom: 12px; /* Slightly larger margin */
}
